body {
  font-family: -apple-system, BlinkMacSystemFont, "SF UI Display", Helvetica, Arial, sans-serif;
  //background: white;
  font-size: 16px;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
